ClienteWebServices/ClienteWebServices/Web References/sonda2/Sonda2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ax22="http://io.java/xsd" xmlns:ax21="http://rmi.java/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://master" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://master" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax23="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
      <xs:import namespace="http://io.java/xsd" />
      <xs:complexType name="RemoteException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax23:IOException">
            <xs:sequence>
              <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType" />
              <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
      <xs:complexType name="IOException">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax24="http://rmi.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://master">
      <xs:import namespace="http://rmi.java/xsd" />
      <xs:element name="Sonda2RemoteException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax24:RemoteException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="get">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="peticion" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="set">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="peticion" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="cambio" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setRequest">
    <wsdl:part name="parameters" element="ns:set" />
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="parameters" element="ns:get" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="ns:getResponse" />
  </wsdl:message>
  <wsdl:message name="Sonda2RemoteException">
    <wsdl:part name="parameters" element="ns:Sonda2RemoteException" />
  </wsdl:message>
  <wsdl:message name="loginRequest">
    <wsdl:part name="parameters" element="ns:login" />
  </wsdl:message>
  <wsdl:portType name="Sonda2PortType">
    <wsdl:operation name="set">
      <wsdl:input wsaw:Action="urn:set" message="ns:setRequest" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="urn:get" message="ns:getRequest" />
      <wsdl:output wsaw:Action="urn:getResponse" message="ns:getResponse" />
      <wsdl:fault wsaw:Action="urn:getSonda2RemoteException" name="Sonda2RemoteException" message="ns:Sonda2RemoteException" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="urn:login" message="ns:loginRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Sonda2Soap11Binding" type="ns:Sonda2PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="set">
      <soap:operation soapAction="urn:set" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="urn:get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Sonda2RemoteException">
        <soap:fault use="literal" name="Sonda2RemoteException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Sonda2Soap12Binding" type="ns:Sonda2PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="set">
      <soap12:operation soapAction="urn:set" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap12:operation soapAction="urn:get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Sonda2RemoteException">
        <soap12:fault use="literal" name="Sonda2RemoteException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Sonda2HttpBinding" type="ns:Sonda2PortType">
    <http:binding verb="POST" />
    <wsdl:operation name="set">
      <http:operation location="set" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="get">
      <http:operation location="get" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <http:operation location="login" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sonda2">
    <wsdl:port name="Sonda2HttpSoap11Endpoint" binding="ns:Sonda2Soap11Binding">
      <soap:address location="http://localhost:8080/Sonda2/services/Sonda2.Sonda2HttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="Sonda2HttpSoap12Endpoint" binding="ns:Sonda2Soap12Binding">
      <soap12:address location="http://localhost:8080/Sonda2/services/Sonda2.Sonda2HttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="Sonda2HttpEndpoint" binding="ns:Sonda2HttpBinding">
      <http:address location="http://localhost:8080/Sonda2/services/Sonda2.Sonda2HttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>